.App-header button{
    padding: 10px 20px;
    border-radius: 7px;
    border: 0px;
    font-weight: 600;
}

.App-header img{
    width: 20px;
    margin-right: 10px;
}

.connected-account{
    display: flex;
    align-items: center;
}

.connected-account p{
    margin-bottom: 0px;
    width: 150px;
    overflow: hidden;
    padding: 10px 20px;
    margin-right: 20px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5px;
}

@media(max-width: 991px){
    .App-header button{
        background: #5345b9;
        color: #fff;
    }
}